<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

<br>
<h2>Statistics on what people volunteer for in Delaware</h2>
<div><iframe width="98%" title="Pie Chart Data" height="646px" src="https://data.nationalservice.gov/w/7gqf-j4gs/?cur=LJsRlZ2U7Md&from=root" frameborder="0"scrolling="no"><a href="https://data.nationalservice.gov/National-Service/Pie-Chart-Data/7gqf-j4gs" title="Pie Chart Data" target="_blank">Pie Chart Data</a></iframe></div>



<h2>Certified state vendors owned by veterans and morities that orgarnizers can leverage as sponsors</h2>
<div><iframe width="98%" title="CC Business Map" height="646px" src="https://data.delaware.gov/w/87es-atzq/989r-3cju?cur=mW2s6Is4dZ0&from=root" frameborder="0"scrolling="no"><a href="https://data.delaware.gov/Economic-Development/CC-Business-Map/87es-atzq" title="CC Business Map" target="_blank">CC Business Map</a></iframe>


  <p><a href="http://www.socrata.com/" target="_blank">Powered by Socrata</a></p></div>
