.navbar {
  margin-bottom: 0;
  background-color: #588c9f;
  height: 70px;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
  color: #ffe486 !important;
  background-color:#588c9f;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #588c9f !important;
}

.navbar-default .navbar-toggle {
  border-color: #588c9f;
  color: #588c9f !important;
}

