<body>
    <br><br><br>
  <div id="content">
    <h2 style="text-align:center">A Digital Tool For Change</h2>
    <p style="text-align:center">We have created a platform for volunteers and leaders to engage with each other in order to enact social change. By building
      a network we can help people in the communities they call home. Nobody knows the problems in a certain area better
      than the people who live there. By supplying volunteers, awareness, and funding in our network we can make Delaware
      a better place.
    </p>
    <h2 style="text-align:center">Connecting People with People</h2>
    <p style="text-align:center">Organizations need people to make change and volunteers need organizations to get involved with. Anyone with an idea
      or problem can create their own "site" to reach out to people in the area. With the amount of information available
      and ways to reach out we can combine all efforts into one organized site.
      <p>
        <h2 style="text-align:center">Areas of Interest</h2>
        <h4 style="text-align:center">Economic Justice</h4>
        <p style="text-align:center">Economic justice is a component of social justice. It's a set of moral principles for building economic institutions,
          the ultimate goal of which is to create an opportunity for each person to create a sufficient material foundation
          upon which to have a dignified, productive, and creative life beyond economics.
          <p>
            <h4 style="text-align:center">Youth Engagement</h4>
            <p style="text-align:center">Youth engagement is the result when young people are involved in responsible, challenging actions to create positive
              social change. This means involving youth in planning and in making decisions that affect themselves and others.
              <p>
                <h4 style="text-align:center">Electoral Politics</h4>
                <p style="text-align:center">Electoral politics focuses on building a robust structure to support candidates for local, state and federal
                  offices. By identifying, recruiting, and coordinating training and mentorship for candidates we will be
                  able to enact change at a political level. This pillar will also establish a comprehensive fundraising
                  system and support the development of responsive political parties.
                  <p>
                    <h4 style="text-align:center">Community Creativity</h4>
                    <p style="text-align:center">Solving problems can be complex, so looking at things in a different light can be beneficial. Art can
                      inspire people to think bigger and think differently. That is why it is a vital asset for communities
                      working to take on big problems or seize opportunities.
                      <p>
                        <h4 style="text-align:center">Racial Justice</h4>
                        <p style="text-align:center">Racial justice is a proactive reinforcement of policies, practices, attitudes and actions that produce
                          equitable power, access, opportunities, treatment, impacts and outcomes for all. Most people view
                          racism primarily as the result of individual action: personal prejudice or stereotyping, and intentional
                          acts of discrimination by individuals. However, racism is also defined as a set of societal, cultural,
                          and institutional beliefs and practices that subordinate and oppress one race for the benefit of
                          another. However, a racial justice definition includes these beliefs and acts, but considers individual
                          acts of prejudice only one dimension of racism.
                          <p>
  </div>

  <br>
  <footer class="container-fluid text-center">
    <div id="icons">

      <div class="col-sm-4 col-sm-offset-2">
        <a href="https://www.facebook.com/thenetworkde/"><img src="/assets/facebookicon.png" alt="HTML5 Icon" style="width:128px;height:128px;"></a>
        <!-- <h2><a href=" orgarnizer.html">Organize</a></h2> -->
      </div>
    
      <div class="col-sm-4">
        <!--<span class="glyphicon glyphicon-gift logo"></span>-->
        <a href= "https://twitter.com/thenetworkde?lang=en"><img src="/assets/twittericon.png" alt="HTML5 Icon" style="width:128px;height:128px;"></a>
      </div>
      <br>
    </div>

  </footer>

  <div id="space">
    <p>Made By Delaware's Community Coders for <a href="http://www.thenetworkde.org/" title="Visit Network Delaware">www.thenetworkde.org</a></p>
  </div>

  <!--<script>
  $(document).ready(function () {
    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[href='#myPage']").on('click', function (event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();
        // Store hash
        var hash = this.hash;
        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 500, function () {
          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
    $(window).scroll(function () {
      $(".slideanim").each(function () {
        var pos = $(this).offset().top;
        var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
      });
    });
  })
</script>-->

</body>