
<div id="mySidenav" class="sidenav">

  <button class="closebtn" (click)="closeNav()">&times;</button>
  <a href="events.html"class=disable><u> Links for Organizers</u></a>
  <a href="https://drive.google.com/file/d/0B8wM805Us6c0OEMydENfYXlNYVE/view?ts=5932fdb5">Organizing: People, Power, Change</a>
  <a href="http://www.transformcommunities.org/sites/default/files/before_you_start.pdf">Before You Start a Community Action Team</a>
  <a href="https://www.entrepreneur.com/article/234617">9 Awesome Ways to Inspire Others</a>
  <a href="http://interactioninstitute.org/organizing-or-mobilizing/#more-8376">Organizing or Mobilizing</a>
  <a href="http://www.amyeisenstein.com/fundraising-tips/fundraising-101/">Fundraising 101</a>
  <a href="http://www.volunteerdelaware.org/servlet/servlet.FileDownload?file=015A0000004zBNf">Get Credits for Volunteering</a>

</div>



  <div id="resource" class= "container-fluid">
    <div class="text-left">
      <span class = "mySideNav" style="font-size:26px;cursor:pointer" (click)="openNav()">&#9776; Resource Links For Organizers</span>
    </div>
  </div>


