<app-organize-sidebar></app-organize-sidebar>

<div id="services" class="container-fluid text-center">
  <!--   <div id="tagline">
        <h1>What would you like to do today?</h1>
    </div> -->
  <!-- Container (Volunteer)-->
  <div id="Donate" class="container-fluid">
    <div class="text-center">
      <h2>Organizers</h2>

    </div>
    <div class="text-left">
      <form role="form" id="memberForm">
        <div class="form-group" >

          <label for="Name of Organization / Group ">Name of Organization / Group :</label>
          <input type="Name of Organization / Group " class="form-control" id="Name of Organization / Group ">

          <label for="Contact Person (First name)">First name</label>
          <input type="text" class="form-control" id="Contact Person (First name)" name="Contact Person (First name)">

          <label for="Contact Person (Last name)">Last name</label>
          <input type="text"  class="form-control" id="Contact Person (Last name)" name="Contact Person (Last name">

          <label for="email">Email Address:</label>
          <input type="email" class="form-control" id="email" name="email">

          <label for="Phone Number">Phone Number:</label>
          <input type="Phone Number" class="form-control" id="Phone Number" name="Phone Number">

          <label for="Address">Address</label>
          <input type="Address" class="form-control" id="Address" name="Address">

          <label for="Address">City</label>
          <input type="Address" class="form-control" id="Address" name="Address">

          <label for="Address">State</label>
          <input type="Address" class="form-control" id="Address" name="Address">

          <label for="Address">Zipcode</label>
          <input type="Address" class="form-control" id="Address" name="Address">

          <label for="Address">Number Of Volunteers needed</label>
          <input type="Address" class="form-control" id="Address" name="Address">

          <label for="Address">Company URL</label>
          <input type="Address" class="form-control" id="Address" name="Address">

        </div>
        <br>
        <button id="memberButton" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </div>
</div>
