<div id = "volunteerOrganizationCalendar" class="container-fluid">
  <div class=" text-center">
    <p style="color:#568CA0;font-size:28px" > Events Coming Up!</p>


    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=vf2g5guqbf5kfbln9jcmcmmj4g%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height= "600" frameborder="0" scrolling="no"></iframe>

  </div>
</div>
