<!-- Container (Services Section) -->
  <div id="services" class="container-fluid text-center">
    <!--   <div id="tagline">
          <h1>What would you like to do today?</h1>
      </div> -->


    <br>
    <!-- <div class="row slideanim">-->
    <div class="col-sm-4 col-md-4">
      <span class="glyphicon glyphicon-user logo"></span>
      <h2><a [routerLink]="['/organize']">Organize</a></h2>
    </div>
    <div class="col-sm-4 col-md-4">
      <span class="glyphicon glyphicon-hand-up logo"></span>
      <h2><a [routerLink]="['/volunteer']">Volunteer</a></h2>
    </div>
    <div class="col-sm-4 col-md-4">
      <span class="glyphicon glyphicon-gift logo"></span>
      <h2><a [routerLink]="['/donate']">Donate</a></h2>
    </div>
  </div>

  <br>
