

<form role="form" id="memberForm" #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="form-group">


    <br>

    <h3 class="red-text text-center"> Please enter your details to create a new profile : </h3>

    <label for="firstName">First name</label>
    <input type="text" class="form-control" id="firstName" ngModel #firstName="ngModel" name="firstName">

    <label for="lastName">Last name</label>
    <input type="text" class="form-control" id="lastName" name="lastName">

    <label for="phoneNumber"> Phone Number:</label>
    <input type="tel " class="form-control" id="phoneNumber" name="phoneNumber" ngModel #phoneNumber="ngModel">

    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" name="address">

    <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city">

    <label for="state">State</label>
    <input type="text" class="form-control" id="state" name="state">

    <label for="zipcode">Zipcode</label>
    <input type="text" class="form-control" id="zipcode" name="zipcode">

    <label for="email">Email Address:</label>
    <input type="email" class="form-control" id="email" name="email" ngModel required #email="ngModel">

    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password"  ngModel required #password="ngModel">

  </div>
  <br>
  <button id="memberButton" type="submit" class="btn btn-primary">Submit</button>
</form>
