<div id = "volunteerVideo" class="container-fluid text-center">
    <h2> Volunteer Training Videos</h2>
        <div class="col-sm-4">
            <iframe width="300" height="300" src="https://www.youtube.com/embed/KgHYPiS6Fno" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="300" height="300" src="https://www.youtube.com/embed/bMfKVeX5m44" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-sm-4">
            <iframe width="300" height="300" src="https://www.youtube.com/embed/31aNNd1j-6g" frameborder="0" allowfullscreen></iframe>
        </div>
</div>
<br>

<div id = "organizerVideo" class = "container-fluid text-center">
    <h2>Organizer Training Videos</h2>
        <div class = "col-sm-4">
            <iframe width="300" height="300" src="https://www.youtube.com/embed/-DtILpmsCcA?list=PLtaSJyXS0lvJNHAqYTpJy5Q_pW5Amj4ZD" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class ="col-sm-4">
            <iframe width="300" height="300" src="https://www.youtube.com/embed/VULCMmmQAHA?list=PLtaSJyXS0lvJNHAqYTpJy5Q_pW5Amj4ZD" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class = "col-sm-4">
            <iframe width="300" height="300" src="https://www.youtube.com/embed/NElvLp4Oyr0?list=PLtaSJyXS0lvJNHAqYTpJy5Q_pW5Amj4ZD" frameborder="0" allowfullscreen></iframe>
        </div>
</div>
